<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Edit User</h2>
<form action="#" th:action="@{/add}" th:object="${user}" method="post">
    <input type="text" name="name" id="name" th:field="*{name}">
    <label for="age">Age</label>
    <input type="text" name="age" id="age" th:field="*{age}">

    <input type="submit" value="Add User">
</form>
</body>
</html>